html, body {
  height: 100%; width: 100%; margin: 0; padding: 0;
}

body {
  display: flex;
  padding: 2em 5em;;
  box-sizing: border-box;
  font-size: 24px;
}

#sidebar, #gameArea {
  align-self: center;
  width: 100%;
}

#sidebar {
  text-align: right;
  padding-right: 1em;
  flex-shrink: 2;
}

h1 { font-size: 3em; margin: 0; }
h2 { font-weight: normal; margin: .1em; }
h3 { font-size: 1.3em; margin: .1em; }

input { font: inherit; }
[type=number] { width: 2em; text-align: right; }
a { color: navy; text-decoration: underline; cursor: pointer; }

#items {
  display: flex;
}

.selectArea {
  flex-grow: 1;
  padding: 0 1em;
}

#items p:not(.selected) {
  text-decoration: underline;
  cursor: pointer;
  color: navy;
}

.selected {
  color: black;
  font-weight: bold;
  text-decoration: none;
}